<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container">
      <div class="main">
        <form action="/api/signin" method="POST" class="form">
          <h3>Login</h3>
          <fieldset class="fieldset">
            <label for="">E-mail</label>
            <input type="email" placeholder="Enter the email" name="email" />
          </fieldset>
          <fieldset class="fieldset">
            <label for="">Password</label>
            <input
              type="password"
              placeholder="Enter the password"
              name="password"
            />
          </fieldset>
          <fieldset class="fieldset">
            <button type="submit">Login</button>
          </fieldset>

          <p>Don't have account? <a href="/register">Sign up</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
