<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container">
      <div class="main">
        <form action="" class="form">
          <h3>Новый фильм</h3>
          <fieldset class="fieldset">
            <label for="">Добавьте картинку</label>
            <input type="file" name="filmImg" />
          </fieldset>
          <fieldset class="fieldset">
            <label for="">Название фильма на русском</label>
            <input
              type="text"
              placeholder="Введите название фильма на русском"
              name="titleRus"
            />
          </fieldset>
          <fieldset class="fieldset">
            <label for="">Название фильма на английском</label>
            <input
              type="text"
              placeholder="Введите название фильма на английском"
              name="titleEng"
            />
          </fieldset>
          <fieldset class="fieldset">
            <label for="">Год выпуска фильма</label>
            <input
              type="text"
              placeholder="Введите год выпуска фильма"
              name="year"
            />
          </fieldset>

          <fieldset class="fieldset">
            <label for="">Длительность фильма</label>
            <input
              type="text"
              placeholder="Введите длительность фильма"
              name="time"
            />
          </fieldset>

          <fieldset class="fieldset">
            <label for="">Страна выпуска</label>
            <select name="country" id="">
              <% countries.forEach(country => { %>
              <option value=""><%=country.name %></option>
              <% }) %>
            </select>
          </fieldset>
          <fieldset class="fieldset">
            <label for="">Выберите жанр</label>
            <select name="genre" id="">
              <% genres.forEach(genre => { %>
              <option value=""><%=genre.name %></option>
              <% }) %>
            </select>
          </fieldset>
          <fieldset class="fieldset">
            <button type="submit">Добавить</button>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>
