<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container">
      <div class="main">
        <form action="/api/signup" method="POST" class="form">
          <h3>Sign up</h3>
          <fieldset class="fieldset">
            <label for="">E-mail</label>
            <input type="email" placeholder="Enter the email" />
          </fieldset>
          <fieldset class="fieldset">
            <label for="">Full Name</label>
            <input
              type="text"
              placeholder="Enter the full name"
              name="full_name"
            />
          </fieldset>
          <fieldset class="fieldset">
            <label for="">Password</label>
            <input
              type="password"
              placeholder="Enter the password"
              name="password"
            />
          </fieldset>
          <fieldset class="fieldset">
            <label for="">Confirm the password</label>
            <input
              type="password"
              placeholder="Confirm the password"
              name="re_password"
            />
          </fieldset>
          <fieldset class="fieldset">
            <button type="submit">Sign up</button>
          </fieldset>

          <p>Do you have account? <a href="/login">Login</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
